@import "common/variable";

$lineColor: var(--border-line-color);

#postTopic {
  cursor: pointer;
  will-change: transform;
  transform: translateY(100%);

  p {
    color: var(--primary-text-color);
  }

  &.is-show-scrollToTop-tips {
    transition: transform 300ms linear 300ms;
    transform: translateY(-100%);
    //background: red;
  }

  &.is-flash-scrollToTop-tips {
    transition: transform 300ms linear 900ms;
    transform: translateY(0);
  }

  &.is-switch-post-title {
    transition: none;
    transform: translateY(0);
    //background: blue;
  }

  &.is-show-post-title {
    transition: transform 300ms linear;
    transform: translateY(0);
    //background: darkorchid;
  }

  &.is-hidden-topic-bar {
    transition: transform 100ms linear;
    transform: translateY(100%);
    //background: #00c4a7;
  }

  &.immediately-show {
    transition: none;
    transform: translateY(0);
    //background: #545454;
  }
}

.post-page {
  .post-content {

    code {
      border-radius: 4px;
      background: var(--third-bg-color);
    }

    pre {
      padding: 0;
      background: transparent;

      code {
        padding: 15px;
        border: 1px solid $lineColor;
        background: var(--pre-code-bg-color);
      }
    }

    .hljs {
      color: var(--second-text-color);
    }

    img {
      display: block;
      margin: 0 auto;
      // max-height: 500px;

      box-shadow: 0 0 15px rgba(0, 0, 0, .05);

      opacity: 0;
      will-change: opacity;
    }

    a {
      color: $activeColor;
    }
  }

  .jump-container .button{
    max-width: calc(50% - 5px);
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
    }
  }

  .comment-container {
    border-top: 1px solid $lineColor;
    padding: 0 4px;

    .column {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @media screen and (min-width: 769px) {
      .column {
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    @media screen and (min-width: 1024px) {
      padding: 0;
      .column {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

  .toc {
    list-style: disc!important;

    ol {
      margin-top: 5px;
      margin-left: 15px;
      list-style: disc!important;
    }
  }

  .toc-container .toc {
    position: sticky;
    top: 60px;

    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    height: calc(100vh - 100px);
    overflow: auto;
    border-left: 1px solid $lineColor;
    list-style: none!important;

    &::-webkit-scrollbar {
      display: none;
    }

    .is-active {
      span {
        color: $activeColor!important;
      }
    }

    ol {
      list-style: none!important;
    }
  }

  :target {
    padding-top: 60px;
    margin-top: -60px!important;
  }

  .comment-box {
    padding: 0.25rem;
  }
  @media screen and (min-width: 769px) {
    .comment {
      margin-bottom: 15px;
      overflow: hidden;
      box-shadow: 0 6px 30px -10px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      background: var(--second-bg-color);
      border: 1px solid var(--border-line-color-2);
      padding: 6px;
    }
    .comment-box {
      padding: 0.75rem;
    }
  }


  .utterances {
    max-width: unset!important;
  }
}
