.header-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  width: 100vw;
  height: 58px;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background: var(--top-bar-bg-color);

  a {
    margin: 0 8px;
    font-weight: bold;

    color: var(--primary-text-color);
  }

  h3 {
    font-weight: bold;
  }
}

@supports (padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-right)) {
  .header-widget {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-right);
  }
}

.search-widget .search-input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--second-text-color);
  font-size: 16px;
  padding: 0;
}
.search-widget .icon {
  font-size: 20px;
  min-width: 20px;
}
.search-widget .search-content {
  position: absolute;
  left: 0;
  top: calc(100% - 3px);
  z-index: 2;
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: auto;
  box-sizing: border-box;
  background: var(--second-bg-color);
  backdrop-filter: blur(var(--backdropFilter));
  -webkit-backdrop-filter: blur(var(--backdropFilter));
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.08);
  transition: max-height 500ms;
  margin: -1px;
  width: calc(100% + 2px)
}
.search-widget .search-content a:hover h5 {
  color: #3273dc!important
}
.search-widget {
  transition-property: width,transform;
  transition-duration: 500ms;
  z-index: 2;
  width: 100%
}
.search-widget.focus-within .search-content {
  border: 1px solid var(--border-line-color)
}

@media screen and (max-width: 480px) {
  .content h1 {
    font-size: 1.5em
  }
  .content h2 {
    font-size: 1.4em
  }
  .content h3 {
    font-size: 1.3em;
  }
  .content h4 {
    font-size: 1.2em;
  }
  .content h5 {
    font-size: 1.1em;
  }
  .content h6 {
    font-size: 1em;
  }
}
@media screen and (max-width: 360px) {
  .content h1 {
    font-size: 1.25em
  }
  .content h2 {
    font-size: 1.2em
  }
  .content h3 {
    font-size: 1.15em;
  }
  .content h4 {
    font-size: 1.1em;
  }
  .content h5 {
    font-size: 1.05em;
  }
  .content h6 {
    font-size: 1em;
  }
}

@media screen and (min-width: 769px) {
  .search-widget.focus-within {
    width: calc(100vw - 16px);
    transform: translateX(calc((8px - 100vw)/3*2))
  }
  .columns section.column {
    margin-top: 0;
    transition: margin-top 500ms
  }
  .columns.focus-within section.column,
  #commentBox.focus-within {
    margin-top: 57px
  }
}
@media screen and (min-width: 1024px) {
  .search-widget.focus-within {
    width: 928px;
    transform: translateX(-634.67px)
  }
}
@media screen and (min-width: 1216px) {
  .search-widget.focus-within {
    width: 1120px;
    transform: translateX(-858px)
  }
}
@media screen and (min-width: 1408px) {
  .search-widget.focus-within {
    width: 1312px;
    transform: translateX(-1002px)
  }
}
