doctype html
html(lang=config.language class= `appearance-auto`)
  head
    meta(charset='UTF-8')

    link(rel="icon" href= url_for(theme.favicon))
    link(rel="stylesheet" href= url_for('/style/common/bulma.css'))
    link(rel="stylesheet" href= url_for('/style/base.css'))
    link(rel="stylesheet" href= url_for('/style/common/helper.css'))
    script(src= url_for("/js/common.js"))
    link(rel='stylesheet', href= url_for("/style/widget-post-list.css"))
    style.
      :root body {
        padding-top: 0;
      }
      .post-container .aside-card-container {
        margin-bottom: 0;
        height: 100%;
      }
      .recent-post-ellipses {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc( 100vw - 77px );
      }
      body {
        margin: 0 !important;
      }

  body.is-flex.is-flex-direction-column
    main.post-container
      block content
