-
    function getPostCoverImg(post) {
        const $coverImgElRegx = /<img.*?alt="\$cover".*?>/
        const firstImgElRegx = /<img[^>]+src="?([^"\s]+)".*?>/
        const coverImgElement = post.content.match(firstImgElRegx)

        if (!coverImgElement) return false

        // post.content = post.content.replace(firstImgElRegx, `<img id="__hexo_theme_cover__" src="${coverImgElement[1]}" alt=".." style="display: none;">`)

        return coverImgElement[1]
        // const coverImg = coverImgElement[0]
        // const matchImg = coverImg.match()
        // if (matchImg) {
        //     return matchImg[1]
        // }
    }
    function getSrcset(imageUrl) {
        if ( typeof imageUrl.slice === "function" ) {
            if (
                (
                    imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/"
                ) && ( imageUrl.slice(-6) === "/large" || imageUrl.slice(-6) === "/extra" )
            ) {
                const prefix = imageUrl.slice(0, -5);
                return prefix + 'wide10k 10000w, ' +
                    prefix + 'wide6k 6500w, ' +
                    prefix + 'wide4k 4000w, ' +
                    prefix + 'extra 2600w, ' +
                    prefix + 'large 1500w, ' +
                    prefix + 'medium 800w'
            } else if (
                imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/" &&
                imageUrl.slice(54, 79) === '/thumbnails/thumbnail.jpg'
            ) {
                const w2000 = new URL(imageUrl)
                w2000.searchParams.set('width', '2000')
                const w1200 = new URL(imageUrl)
                w1200.searchParams.set('width', '1200')
                const w800 = new URL(imageUrl)
                w800.searchParams.set('width', '800')
                return w2000 + ' 2000w, ' + w1200 + ' 1200w, ' + w800 + ' 800w'
            }
        }
        
        return ""
    }
    function getThumbnail(imageUrl) {
        if ( typeof imageUrl.slice === "function" ) {
            if (
                imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/" &&
                ( imageUrl.slice(-6) === "/large" || imageUrl.slice(-6) === "/extra" )
            ) {
                return imageUrl.slice(0, -5) + 'thumbnail'
            } else if (
                imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/" &&
                imageUrl.slice(54, 79) === '/thumbnails/thumbnail.jpg'
            ) {
                const w200 = new URL(imageUrl)
                w200.searchParams.set('width', '200')
                w200.searchParams.set('height', '200')
                return '' + w200
            }
        }
        return imageUrl
    }
