-
    function getPostCoverImg(post) {
        const $coverImgElRegx = /<img.*?alt="\$cover".*?>/
        const firstImgElRegx = /<img[^>]+src="?([^"\s]+)".*?>/
        const coverImgElement = post.content.match(firstImgElRegx)

        if (!coverImgElement) return false

        // post.content = post.content.replace(firstImgElRegx, `<img id="__hexo_theme_cover__" src="${coverImgElement[1]}" alt=".." style="display: none;">`)

        return coverImgElement[1]
        // const coverImg = coverImgElement[0]
        // const matchImg = coverImg.match()
        // if (matchImg) {
        //     return matchImg[1]
        // }
    }
    function getSrcset(imageUrl) {
        if ( typeof imageUrl.slice === "function" ) {
            if (
                imageUrl.slice(0, 46) === "/cdn-cgi/imagedelivery/6T-behmofKYLsxlrK0l_MQ/" &&
                ( imageUrl.slice(-6) === "/large" || imageUrl.slice(-6) === "/extra" )
            ) {
                const prefix = imageUrl.slice(0, -5);
                return prefix + 'wide36k 36864w, ' +
                    prefix + 'wide24k 24576w, ' +
                    prefix + 'wide16k 16384w, ' +
                    prefix + 'wide10k 10240w, ' +
                    prefix + 'wide6k 6144w, ' +
                    prefix + 'wide4k 4096w, ' +
                    prefix + 'max 3200w, ' +
                    prefix + 'wide 2400w, ' +
                    prefix + 'extra 2000w, ' +
                    prefix + 'larger 1600w, ' +
                    prefix + 'large 1200w, ' +
                    prefix + 'medium 800w, ' +
                    prefix + 'small 400w, ' +
                    prefix + 'tiny 200w'
            } else if ( imageUrl.slice(0, 26) === 'https://videodelivery.net/' ) {
                const w2000 = new URL(imageUrl)
                w2000.searchParams.set('width', '2000')
                const w1600 = new URL(imageUrl)
                w1600.searchParams.set('width', '1600')
                const w1200 = new URL(imageUrl)
                w1200.searchParams.set('width', '1200')
                const w800 = new URL(imageUrl)
                w800.searchParams.set('width', '800')
                const w400 = new URL(imageUrl)
                w400.searchParams.set('width', '400')
                const w200 = new URL(imageUrl)
                w200.searchParams.set('width', '200')

                return w2000 + ' 2000w, ' +
                    w1600 + ' 1600w, ' +
                    w1200 + ' 1200w, ' +
                    w800 + ' 800w, ' +
                    w400 + ' 400w, ' +
                    w200 + ' 200w'
            }
        }
        
        return ""
    }
    function getThumbnail(imageUrl) {
        if ( typeof imageUrl.slice === "function" ) {
            if (
                imageUrl.slice(0, 46) === "/cdn-cgi/imagedelivery/6T-behmofKYLsxlrK0l_MQ/" &&
                ( imageUrl.slice(-6) === "/large" || imageUrl.slice(-6) === "/extra" )
            ) {
                return imageUrl.slice(0, -5) + 'thumbnail'
            } else if ( imageUrl.slice(0, 26) === 'https://videodelivery.net/' ) {
                const w200 = new URL(imageUrl)
                w200.searchParams.set('width', '200')
                w200.searchParams.set('height', '200')
                return '' + w200
            }
        }
        return imageUrl
    }
