- var debugSNS = false
if (debugSNS || theme.social.twitter)
    a(title="twitter" target="_blank" rel="noopener nofollow" href=`//twitter.com/${theme.social.twitter}`)
        svg.icon.has-text-grey
            use(xlink:href="#icon-twitter")
// Github
if (debugSNS || theme.social.github)
    a(title="GitHub" target="_blank" rel="noopener nofollow" href=`//github.com/${theme.social.github}`)
        svg.icon.has-text-grey
            use(xlink:href="#icon-github-fill")
// Ins
if (debugSNS || theme.social.instagram)
    a(title="instagram" target="_blank" rel="noopener nofollow" href=`//www.instagram.com/${theme.social.instagram}`)
        svg.icon.has-text-grey
            use(xlink:href="#icon-instagram-fill")
// Email
if (debugSNS || theme.social.email)
    a(title="linkedin" target="_blank" rel="noopener nofollow" href=`mailto:${theme.social.email}`)
        svg.icon.has-text-grey
            use(xlink:href="#icon-mail-fill")
// RSS
if (debugSNS || config.feed && config.feed.enable)
    a(title="rss" target="_blank" rel="noopener nofollow" href= url_for(config.feed.path))
        svg.icon.has-text-grey
            use(xlink:href="#icon-feed")
