main.aside-card-container.categories-widget
    h3=theme.links_title || __('friend')
    section
        ul.category-list
            each link in theme.links
                li.category-list-item
                    a.category-list-link(href= link.url)= link.title
                    a.category-list-count(href= link.url)= link.domain
