header.header-widget.is-flex-shrink-0.is-hidden-mobile
    .container.is-fullhd.is-flex.is-justify-content-space-between.is-align-items-center.is-full-height
        section.is-hidden-mobile.is-flex-shrink-0
            h2
                a(href= url_for("/"))= theme.title
        h3.is-hidden-mobile.is-family-serif.is-full-height.is-flex.is-align-items-center.is-flex-shrink-0
            block topic
        aside.is-flex-shrink-0
            if theme.menu
                each url, label in theme.menu
                    h3.is-inline-block
                        if label === '中文'
                            if page.languages && page.languages['zh-CN']
                                a(href= url_for(page.languages['zh-CN']) target="_top")= label
                            else if !page.title
                                a(href= url_for(url) target="_top")= label
                        else if label === 'English'
                            if page.languages && page.languages['en-US']
                                a(href= url_for(page.languages['en-US']) target="_top")= label
                            else if !page.title
                                a(href= url_for(url) target="_top")= label
                        else
                            a(href= url_for(url) target="_top")= label && _p(label.toLowerCase())
header.is-flex.header-widget.is-flex-shrink-0.is-align-items-center.is-justify-content-center.is-hidden-tablet
        if theme.menu
            each url, label in theme.menu
                h3.is-inline-block
                    a(href= url_for(url) target="_top")= label && _p(label.toLowerCase())

